@* @model Vidly.ViewModels.CustomerFormVM

<form asp-action="New" asp-controller="Customers" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
            <div class="mb-3 row ps-4">
                <label asp-for="Customer.Name" class="p-0"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4">
                <label asp-for="Customer.Birthdate" class="p-0"></label>
                <input asp-for="Customer.Birthdate" class="form-control" />
                <span asp-validation-for="Customer.Birthdate" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4 align-items-center">
                <div class="form-check">
                    <input asp-for="Customer.IsSubscribedToNewsletter" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label asp-for="Customer.IsSubscribedToNewsletter" class="form-check-label" for="flexCheckDefault">Subscribe to Newsletter</label>
                </div>
            </div>
            <div class="mb-3 row ps-4">
                <label asp-for="Customer.MembershipTypeId" class="p-0"></label>
                <select asp-for="Customer.MembershipTypeId">
                    <option value="">Select Membership Type</option>
                    @foreach(var item in Model.MembershipTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                <span asp-validation-for="Customer.Birthdate" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a class="btn btn-outline-secondary ms-2" asp-controller="Category" asp-action="Index">Back</a>
                </div>
            </div>



        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
 *@
 


  @* Save Data through JQuery Start*@
 @model Vidly.ViewModels.CustomerFormVM

<form id="appointmentForm">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" maxlength="100" class="form-control" id="custName" />
            </div>

            <div class="mb-3 row ps-4">
                <label for="datepicker">Select DOB:</label>
                <input type="date" id="txtCustBirthDate" class="form-control" name="datepicker">
            </div>

            <div class="mb-3 row ps-4 align-items-center">
                <div class="form-check">
                    <input id="txtCustIsSubs" class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="flexCheckDefault">Subscribe to Newsletter</label>
                </div>
            </div>
            <div class="mb-3 row ps-4">
                <label class="p-0"></label>
                <select id="dropdownMember">
                    <option value="">Select Membership Type</option>
                    @foreach (var item in @Model.MembershipTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="button" id="btnCustSubmit" class="btn btn-success" onclick="onSubmitForm();">Submit</button>
                </div>
                <div class="col-6 col-md-3">
                    <a class="btn btn-outline-secondary ms-2" asp-controller="Category" asp-action="Index">Back</a>
                </div>
            </div>



        </div>
    </div>
</form>


@section Scripts{

<script type="text/javascript">
    $(document).ready(function () {
    });

    var routeURL = location.protocol + "//" + location.host;
    function onSubmitForm(){
        debugger;
        var requestData = {
            Name: $("#custName").val(),
            Birthdate: $("#txtCustBirthDate").val(),
            IsSubscribedToNewsletter: $("#txtCustIsSubs").prop('checked'),
            MembershipTypeId: $("#dropdownMember").val()
        };

            $.ajax({
                url: routeURL + '/Customers/New',
                type: 'POST',
                data: JSON.stringify(requestData),
                contentType: 'application/json',
                success: function (response) {
                    debugger;
                },
                error: function (xhr,status,error) {
                console.error(error);
                }
            });
    }

</script>

}
