@* @model Vidly.ViewModels.CustomerFormVM

<form asp-action="New" asp-controller="Customers" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
            <div class="mb-3 row ps-4">
                <label asp-for="Customer.Name" class="p-0"></label>
                <input asp-for="Customer.Name" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4">
                <label asp-for="Customer.Birthdate" class="p-0"></label>
                <input asp-for="Customer.Birthdate" class="form-control" />
                <span asp-validation-for="Customer.Birthdate" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4 align-items-center">
                <div class="form-check">
                    <input asp-for="Customer.IsSubscribedToNewsletter" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label asp-for="Customer.IsSubscribedToNewsletter" class="form-check-label" for="flexCheckDefault">Subscribe to Newsletter</label>
                </div>
            </div>
            <div class="mb-3 row ps-4">
                <label asp-for="Customer.MembershipTypeId" class="p-0"></label>
                <select asp-for="Customer.MembershipTypeId">
                    <option value="">Select Membership Type</option>
                    @foreach(var item in Model.MembershipTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                <span asp-validation-for="Customer.Birthdate" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a class="btn btn-outline-secondary ms-2" asp-controller="Category" asp-action="Index">Back</a>
                </div>
            </div>



        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} *@

@model Vidly.ViewModels.CustomerFormVM

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
            <div class="hidden" id="id"></div>
            <div class="mb-3 row ps-4">
                <label id="lblCustName" class="p-0">Customer Name</label>
                <input type="text" id="txtCustName" class="form-control" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4">
                <label id="lblCustBirthDate" class="p-0">Customer Birth Date</label>
                <input id="txtCustBirthDate" class="form-control" />
                <span asp-validation-for="Customer.Birthdate" class="text-danger"></span>
            </div>
            <div class="mb-3 row ps-4 align-items-center">
                <div class="form-check">
                    <input id="txtCustIsSubs" class="form-check-input" type="checkbox" id="flexCheckDefault">
                    <label id="lblCustIsSubs" class="form-check-label" for="flexCheckDefault">Subscribe to Newsletter</label>
                </div>
            </div>
            <div class="mb-3 row ps-4">
                <label id="lblMembershipType" class="p-0"></label>
                <select id="dropdownMember">
                    <option value="">Select Membership Type</option>
                    @foreach (var item in @Model.MembershipTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button id="btnCustSubmit" class="btn btn-primary">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a class="btn btn-outline-secondary ms-2" asp-controller="Category" asp-action="Index">Back</a>
                </div>
            </div>



        </div>
    </div>
</form>

@section Scripts{

<script type="text/javascript">
    $(document).ready(function () {
        InsertDataintoDB();
    });


    $("#btnCustSubmit").click(function (e) {
        debugger;
        e.preventDefault();

        InsertDataintoDB();
    });
    function InsertDataintoDB(){
        var id= $('#id').val();
        var name = $('#txtCustName').val();
        var birthDate = $('#txtCustBirthDate').val();
        var isSubs = $('#lblCustIsSubs').val();
        var dropDownMember = $('#dropdownMember').val();

        var formData = new {
            Id:id,
            Name:name,
            DOB:birthDate,
            IsSubs: isSubs,
            MemberShip: dropDownMember
        }
        

        v/* ar data= Json.searlize */

        $.ajax({
            url: '/Customers/New',
            type: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function (response) {
                if (response.status === 1 || response.status === 2) {
                    calendar.refetchEvents();
                    //    debugger;
                    $.notify(response.message, "success");
                    onCloseModal();
                }
                else {
                    $.notify(response.message, "error");
                }
            },
            error: function (xhr) {
                $.notify("Error", "error");
            }
        });
    }
</script>


}



@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}